extends layout.pug 

block title
  title Bloggy | About

block content
  header.header
      .header-image
        img(src='/images/about.png' alt='Illustration')
  section.section-about
    h2.h2 About Us
    .about-data
      .information-title
        svg
          use(xlink:href='/icons/icons.svg#i-mission')
        h3.h3 Our Mission
      .information-text
        p To nourish people and the planet. We're a purpose-driven company that aims to set the standards of
          | excellence for blogging. A true joy is the state of mind at Bloggy. Choose us
          | and you will automatically be back to us.
    .about-data.reverse
      .information-title
        svg
          use(xlink:href='/icons/icons.svg#i-story')
        h3.h3 Our Story
      .information-text
        p With social media, services are now more than their price points, they are living, breathing entities
          | with personalities, goals and values. But Bloggy is more than that holding a great story which you
          | will experience while reading our blogs.
    .about-data
      .information-title
        svg
          use(xlink:href='/icons/icons.svg#i-location')
        h3.h3 Our Locations
      .information-text
        p To be precise, we are located in the UNIVERSE. You can use our services despite your location. You
          | can read the blogs in your current locations using the service of Bloggy. Up to some blogs
          | on your journey? Then you are in the right place.