extends layout.pug 

block title
  title Bloggy | Profile

block content
  section.section-profile
    svg#user-icon
        use(xlink:href='../icons/icons.svg#i-user')
    h2.h2=user.username
    a.btn.dark(href="/sign/out") Sign Out